
@{
    ViewBag.Title = "escola";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Escola</title>
    @Styles.Render("~/Content/Escola.css")
</head>
<body>
    <h2>Minha escola é a melhor</h2>
</body>
</html>