@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">

    <h1>Seja Bem-Vindo</h1>
    <p class="lead">Este é um site feito em MVC</p>
    <p><a href="https://www.youtube.com/watch?v=DqQGMPNnibg" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sobre minha escola</h2>
        <p>
            Para ver a descrição sobre minha escola clique em "Minha escola" aqui a baixo.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44360/Home/escola">Minha escola &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Oque eu entendi sobre MVC</h2>
        <p>Layout feito por: Kauã Vitorio</p>
        <p><a class="btn btn-default" href="https://localhost:44360/Home/opini">Minha opnião &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Minha tela de loading</h2>
        <p>Desemvolvi uma tela de loading para vela click em "Tela de Loading" aqui a baxio</p>
        <p><a class="btn btn-default" href="https://localhost:44360/Home/Test">Tela de Loading &raquo;</a></p>
    </div>
</div>
