
@{
    ViewBag.Title = "opini";
}
<!doctype HTML>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Minha opnião</title>
    @Styles.Render("~/Content/Opi.css")
</head>

<body>
    <center>
        <h1>O'Que eu entendi sobre o MVC</h1>
        <h2>
            •  Eu entendi que MVC é uma junção de linguagem para a contrução de um programa/site,com um metodo mais avançado.
        </h2>
    </center>
</body>
</html>
