
@{
    ViewBag.Title = "Test";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Test progress</title>
    @Styles.Render("~/Content/StyleSheet1.css")
    @Scripts.Render("~/Scripts/Progress.js")
</head>
<body onload="loading()">
    <h1>Carregando sua experiência...</h1>

    <div class="progress">
        <div class="progress-done" data-done="100">

        </div>
    </div>

</body>
</html>
